extends index

block content
    if error
      .alert.alert-danger= error
    else
      a(href='/mail/'+params.mailbox) back
      a(href='/mail/'+params.mailbox+'/'+params.uid+'/delete').btn.btn-danger.pull-right: span.glyphicon.glyphicon-trash
      div.well
        if html
          !=html
        else
          =txt
    