table.table.inbox
      each message in messages
        tr
          td
            if message.from.name.length > 29
              =message.from.name.substr(0, 20) + '...'
            else
              =message.from.name
          td
            a(href='/mail/'+currentMailbox+'/'+message.UID)= message.title
          td= moment(message.date).format('DD/MM/YY hh:mm')
      if messages.length == 0
        tr
          th(colspan="3") no mails
        