table.table.inbox
      each message in messages
        tr
          td
            if message.from.name.length > 29
              =message.from.name.substr(0, 20) + '...'
            else
              =message.from.name
          td
            - var url = '/mail/'+currentMailbox+'/'+message.UID
            if message.title
              a(href=url)= message.title
            else
              a(href=url) (no subject)
          td= moment(message.date).format('DD/MM/YY hh:mm')
      if messages.length == 0
        tr
          th(colspan="3") no mails
        