<div ng-controller="KeepsCtrl">
    <a class="btn btn-primary pull-right" href="" ng-click="showForm()">New</a>
    <button class="btn btn-info pull-right btn-archi" ng-model="seeArchived" ng-click="doSeeArchived()" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Only archived</button>
    <input type="search" class="form-control input-lg query" ng-model="query">
    <ul class="keeps-list">
        <li ng-repeat="keep in keeps" class="keep" >
            <a href="" data-ng-click="showForm(keep)">{{keep.title}}</a>
            <span class="pull-right">{{keep.date | date: 'd/MM/yy HH:mm'}}</span>
            <div ng-switch on="keep.type">
                <div ng-switch-when="note" >
                   <pre ng-bind-html="keep.content | linky:'_blank'"></pre>
                </div>
                <div ng-switch-when="list" >
                    <ul>
                        <li ng-repeat="item in keep.items">
                            <span ng-class="item.done ? 'line-through' : '' ">{{ item.content }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div class="alert alert-info mess" ng-hide="keeps">keeps not found</div>
</div>
