<div ng-controller="KeepsCtrl">
    <button ng-click="current = {}" class="btn btn-default">Clear</button>
    <input type="text" ng-model="query">
    <button data-ng-click="removeKeep()" class="btn btn-danger" ng-show="current._id">Del</button>
    <form method="POST" ng-submit="submitKeep()" id="form-keep">
        <input name="title" type="text" ng-model="current.title" placeholder="title" class="form-control">
        <textarea name="content" name="content" ng-model="current.content" placeholder="content" class="form-control"/>
        <input type="submit" class="btn btn-primary pull-right" value="{{current._id ? 'Update' : 'Add'}}">
    </form>
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="view.mode = 'list'" ng-class="view.mode == 'list' ? 'active' : ''"><span class="glyphicon glyphicon-list"></span></button>
        <button type="button" class="btn btn-default" ng-click="view.mode = 'table'" ng-class="view.mode == 'table' ? 'active' : ''"><span class="glyphicon glyphicon-th-large"></span></button>
    </div>
    <section class="keeps-table" ng-show="view.mode=='table'">
        <article ng-repeat="keep in keeps" class="keep" data-ng-click="showOne(keep._id)">
            <p class="lead">
                {{keep.title}}
            </p>
            <p class="content">{{keep.content | truncate: 15}}</p>
            <span class="label label-default">{{keep.date | date: 'medium'}}</span>
        </article>
    </section>
    <ul class="keeps-list" ng-show="view.mode=='list'">
        <li ng-repeat="keep in keeps" class="keep" >
            <a href="" data-ng-click="showOne(keep._id)">{{keep.title}}</a>
            <span class="pull-right">{{keep.date | date: 'd/MM/yy HH:mm'}}</span>
            <pre>{{keep.content}}</pre>
        </li>
    </ul>
    <div class="alert alert-info mess" ng-hide="keeps">keeps not found</div>
</div>
